body{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: end;
    height: 100vh;
}
footer{
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 40px 0px;
}
#left{
    display: flex;
    width: 60%;
}
#right{
    display: flex;
    width: 40%;
    border-left: 1px solid #404b54;
}
ul{
    list-style-type: none;
    margin: 0;
}
a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 2px;
}
li{
    color: white;
}
h5{
    color: #404b54;
    font-weight: bolder;
    margin: 0;
    padding-bottom: 10px;
}
#menu{
    background-color: darkslategrey;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 100%;
    display: none;
    color: black;
}
#drop{
    position: relative;
}
#drop:hover #menu{
    display: block;
}
.p:hover{
    display: blocks;
    color: white;
    background-color: black;
}
